PORT=3009
MONGODB_URI=mongodb://127.0.0.1:27017/coding_labs_local
AUTH_BASE_URL=https://auth.ngx-workshop.io
CORS_ORIGINS=http://localhost:4201,https://admin.ngx-workshop.io
RUNNER_IMAGE=node:22-alpine
# RUNNER_DOCKER_CONTEXT=desktop-linux
# CODING_LABS_LOCAL_DEV=true
